body{
	margin: 0;
	background-image: url(https://wallpapertops.com/walldb/original/0/7/f/716549.jpg);
	font-size: 20px;
	line-height: 40px;
}

header{
	text-align:center;
	padding-top: 11px;
	padding-bottom:12px;
	background-image: url(https://wallpapertops.com/walldb/original/0/7/f/716549.jpg);
}

}

header img{
	border-radius:150px;
	width: 300px;
	    border: 10px solid black;
}
header h1{
	color: black;
	font-size: 70px;
	margin-top: 0;
}
h1, h2{
	font-family: 'Luckiest Guy', cursive;

}
h2{
	margin: 15px 0 0px;
}
main{
	max-width: 459px;
	background-color: #3cc91a1f;
	margin:0 auto;
     padding: 0 178px 0px;
}
main img{
	max-width:100%;
}
p.caption{
 color: #4B4B4B;
	margin:0;
	padding: 0 112px 19px;
	font-style: italic;
}
a{
	color: #86ff8b;
}
a:hover{
	color:white;
}
footer{
	background-color: #3cc91a1f;
	text-align:center;
	padding:30px;
}
footer p{
	margin:0;
}
footer a{
	background-color:transparent;
	color:white;
}
footer a:hover{
	color:black;
}
p{
	font-family: 'Handlee', cursive;
}